<!DOCTYPE html>
<html>
<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    
</br>
    <div th:fragment="reservasServicioForm(titulo)" class="container border border-2 w-60">    
        <h1 class="text-center" th:text="${titulo}"></h1>
    <form>

        <label class="col-form-label" >Duración en horas</label>
        <input class="form-control" type="number" id="duracion_hora" name="duracion_hora" required th:value="${reservasServicio.duracion_hora}" />
        <label  class="col-form-label">Día de la reserva:</label>
        <input class="form-control" type="date" id="dia" name="dia" required th:value="${reservasServicio.dia}" />
        <label  class="col-form-label">Hora de la reserva</label>
        <input class="form-control" type="time" id="hora" name="hora" required th:value="${reservasServicio.hora}" />

        <label class="col-form-label" for="habitacion">Habitación</label>
        <select class="form-control" id="habitacion" name="habitacion" required>
            <th:block th:each="habitacion : ${habitaciones}">   
                <option th:value="${habitacion.id}" th:text="${habitacion.id}" ></option>
            </th:block>
        </select><br>

        <label class="col-form-label" for="habitacion">Tipo de salón</label>
        <select class="form-control">
            <option value="">Conferencias</option>
            <option value="">Reuniones</option>
        </select><br>
 
        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/reservasServicio}" class="btn btn-primary">Cancelar</a>
        
        </div>
        
    </form>
</br>
</div>

</body>
</html>