<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento tipos usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div th:fragment="tiposUsuarioform(titulo)" class="container border border-2 w-50">
        <h1 class = "text-center" th:text="${titulo}"></h1>
        <form action="">
            <label class="col-form-label">Tipo</label>
            <input class="form-control" type="text" id = "tipo" name="tipo" required th:value="${tiposUsuario.tipo}"/>
            <br>
            <div class = "text-center">
                <input type="submit" value="Guardar" class = "btn btn-primary">
                <a th:href="@{/tiposUsuario}" class = "btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>