<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkOuts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Consumos</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Consumo</th>
                    <th>Precio</th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each="index : ${#numbers.sequence(0, #lists.size(consumos2)-1)}">
                        <td th:text="${consumos3[index]}"></td>
                        <td th:text="${consumos2[index]}"></td>
                    </tr>
                </tbody>
            </table>
            
        <h3 style="display: inline-block;"> Total a pagar: $</h3>
        <h3 th:text="${consumos}" style="display: inline-block;">0</h3><br><br>
        <a th:href="@{/checkOuts/{id}/consumos/paz}" class="btn btn-primary">Paz y salvo</a>
        <a th:href="@{/checkOuts}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>