<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkins</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Lista de checkins</h1>
            <p>Hay un total de <span th:text="${checkins.size()}"></span> checkins</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID reserva</th>
                    <th>Num. habitación</th>
                    <th>Fecha de salida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="checkin : ${checkins}">
                    <tr>
                        <td th:text="${checkin.pk.reservas_id.id}"></td>
                        <td th:text="${checkin.pk.clientes_num_documento.id}"></td>
                        <td th:text="${checkin.fecha_ingreso}"></td>
                        <td>
                            <a th:href="@{'/checkins/' + ${checkin.pk.clientes_num_documento.id} +  '/consumos'}"
                               >Ver total a pagar</a><br>
                            <a th:href="@{'/checkins/' + ${checkin.pk.reservas_id.id} +  '/edit'}"
                               >Editar</a><br>
                            <a th:href="@{'/checkins/' + ${checkin.pk.reservas_id.id} + '/delete'}"
                               onclick="return confirm('¿Está seguro de borrar el checkin?')">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
        <a th:href="@{checkins/new}" class = "btn btn-primary">Añadir checkin</a>
    </div>
</body>
</html>