<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel de los Andes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <style>
        .custom-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-top: 50px;
        }

        /* Oculta los botones al inicio */
        #buttons-admin, #buttons-client, #buttons-receptionist, #buttons-employee {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container custom-container">
        <h1>Hotel de los Andes</h1>
        <h3>Bienvenidos!</h3>
        <img th:src="@{/images/A.png}" width="350" alt="logo">

        <select id="userType" onchange="toggleButtons()">
            <option >   ---   </option>
            <option value="admin">Administrador</option>
            <option value="client">Cliente</option>
            <option value="receptionist">Recepcionista</option>
            <option value="employee">Empleado</option>
        </select>

        <div class="mt-4" id="buttons-admin">
            <a th:href="@{/tiposUsuario}" class="btn btn-primary btn-block mb-2">Tipos de usuario</a>
            <a th:href="@{/usuarios}" class="btn btn-primary btn-block">Usuarios</a>
            <a th:href="@{/tiposHabitacion}" class="btn btn-primary btn-block">Tipos de habitación</a>
            <a th:href="@{/habitaciones}" class="btn btn-primary btn-block">Habitaciones</a>
            <a th:href="@{/planesConsumo}" class="btn btn-primary btn-block">Planes de consumo</a>
            <a th:href="@{/tiposServicio}" class="btn btn-primary btn-block">Tipos de servicio</a>
        </div>
        
        <div class="mt-4" id="buttons-client">
            <a th:href="@{/reservas}" class="btn btn-primary btn-block">Reservas</a>
            <a th:href="@{/reservasServicio}" class="btn btn-primary btn-block">Reservas de servicio</a>
        </div>

        <div class="mt-4" id="buttons-receptionist">
            <a th:href="@{/checkOuts}" class="btn btn-primary btn-block">checkOuts</a>
        </div>
        
        <div class="mt-4" id="buttons-employee">
            <a th:href="@{/consumos}" class="btn btn-primary btn-block">registrar consumos</a>
        </div>

    </div>

    <script>
        function toggleButtons() {
            var userType = document.getElementById("userType").value;

            document.getElementById("buttons-admin").style.display = "none";
            document.getElementById("buttons-client").style.display = "none";
            document.getElementById("buttons-receptionist").style.display = "none";

            if (userType === "admin") {
                document.getElementById("buttons-admin").style.display = "block";
            } else if (userType === "client") {
                document.getElementById("buttons-client").style.display = "block";
            } else if (userType === "receptionist") {
                document.getElementById("buttons-receptionist").style.display = "block";
            } else if (userType === "employee") {
                document.getElementById("buttons-employee").style.display = "block";
            }
        }
    </script>
</body>
</html>
