<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear plan de consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-70">    

    <h1 class="text">Crear plan de consumo</h1>

    <form th:action="@{/planesConsumo/new/save}" method="post">
        
        <label class="col-form-label" for="nombre">Nombre del plan</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required><br>
        
        <label class="col-form-label" for="estadiaMin">Estadía mínima</label>
        <input class="form-control" type="numeric" id="estadiaMin" name="estadiaMin" required><br>
        
        <label class="col-form-label" for="costo">Costo del plan</label>
        <input class="form-control" type="numeric" id="costo" name="costo" required><br>
        
        <label class="col-form-label" for="descReserva">Descuento sobre el valor de la reserva</label>
        <input class="form-control" type="numeric" id="descReserva" step="0.01" min="0" max="1" name="descReserva" required><br>
        
        <label class="col-form-label" for="descRestaurante">Descuento sobre el valor de lo consumido en restaurante</label>
        <input class="form-control" type="numeric" id="descRestaurante" step="0.01" min="0" max="1" name="descRestaurante" required><br>
        
        <label class="col-form-label" for="descBar">Descuento sobre el valor de consumos del bar</label>
        <input class="form-control" type="numeric" id="descBar" step="0.01" min="0" max="1" name="descBar" required><br>
        
        <label class="col-form-label" for="descServicio">Descuento sobre el valor de los servicios</label>
        <input class="form-control" type="numeric" id="descServicio" step="0.01" min="0" max="1" name="descServicio" required><br>

        <br>
        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/planesConsumo}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>
</body>
</html>