<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear reserva de spa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-70">    

    <h1 class="text">Crear reserva de spa</h1>

    <form th:action="@{/reservasServicio/new/spa/save}" method="post">
        
        <label class="col-form-label" for="tiposHabitacion">Servicio del spa</label>
        <select class="form-control" id="spas" name="spaId" required>
            <option th:each="spaId : ${spas}" th:value="${spaId}" th:text="${spaId}"></option>
        </select><br>
        <label  class="col-form-label">Día de la reserva:</label>
        <input class="form-control" type="date" id="dia" name="dia" required th:value="${reservasServicio.dia}" />
        <label  class="col-form-label">Hora de la reserva</label>
        <input class="form-control" type="time" id="hora" name="hora" required th:value="${reservasServicio.hora}" />

        <label class="col-form-label" for="habitacion">Habitacion</label>
        <select class="form-control" id="habitacion" name="habitacion" required>
            <th:block th:each="habitacion : ${habitaciones}">   
                <option th:value="${habitacion.id}" th:text="${habitacion.id}" ></option>
            </th:block>
        </select><br>

        <br>
        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/reservasServicio}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>
</body>
</html>